$black: blue;
$black1: #40484a;
$black2: #637a91;
$black3: #2d3339;

$blue: #3db7f7;
$blue1: #27a9ff;
$blue2: #1c87f1;

$green: #3ac162;
$green1: #5fcf80;

$grey: #717f86;
$grey1: #384047;
$grey2: #eaeaea;

$white: #fff;

$red: #ff5f75;
$red1: #ff3845;
$red2: #ff0a16;

$pink: #ff3fcd;
