@import "colors";

// Foundation
$base-font-family: Montserrat, Helvetica, Arial, sans-serif;
$body-font-family: Montserrat, Helvetica, Arial, sans-serif;
$global-flexbox: true !global;

// App
$border-radius: 5px;
$icon-size: 26px;
