@import "../../styles/shared";

.pages-not-found {
  font-weight: 600;

  &__box {
    border: 2px solid $green1;
    border-radius: $border-radius;
    padding: 20px;
    text-align: center;
    color: $grey1;
  }

  &__error-status {
    font-size: 16px;
  }

  &__error-msg {
    font-size: 28px;
  }
}
